services:
  - type: web
    name: jobid-api
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "node index.js"
    envVars:
      - key: TOKEN
        sync: false
      - key: PORT
        value: 3000
